[2017-10-12 15:36] mizuno-gsinet opened #5 "Improve fine-level preconditioner."
Currently, `preconditioner::fine_grid` fits RBF interpolant WITHOUT polynomials to the subset of points. Such an interpolation system is generally not SPD and ill-conditioned.

The improved fine-level preconditioner should work as follows:

### Input

- Lagrange basis.
- Set of points from which the Lagrange basis is constructed (L).
- Set of points (P) at the level which includes L.

### Setup

1

[2017-10-18 08:08] #5 closed

[2017-11-17 09:42] mizuno-gsinet opened #9 "Refactor representation of numerical data"
## Motivation

Currently, we use `std::vector<Eigen::Vector3d>` for points and `Eigen::VectorXd` for values. This is inconsistent and rather inconvenient as the former is a container works with STL algorithms while the latter is not.

However, we can incorporate STL algorithms with Eigen's matrices indirectly; first, apply the algorithm on the index array (`std::vector<size_t>`), then create a tra

[2017-11-28 05:31] mizuno-gsinet opened #12 "Do not hold references to temporary objects in classes / structs."
Search `& .*_;` in code (regex) and determine whether each one of them has to be fixed or not.

[2017-11-29 02:34] #9 closed

[2017-11-29 06:05] mizuno-gsinet commented on #12
Now there are no const ref members in public API except for const row/col-iterators/ranges in eigen_utility.

[2017-11-29 06:06] #12 closed

[2017-12-07 04:48] mizuno-gsinet opened #13 "Wrong sign in the preconditioner."
The assignment here should be `+=`.

https://github.com/polatory/polatory/blob/1eb60aa2aa28a631369d3b2e1f86b7dddc0a1f23/include/polatory/preconditioner/ras_preconditioner.hpp#L199

It corresponds to the last line of the update formula:

![texclip20171207133811](https://user-images.githubusercontent.com/29035331/33699120-7d3faaca-db54-11e7-9bf0-3854bc28ceea.png)

[2017-12-07 04:53] #13 closed

[2017-12-11 15:05] mizuno-gsinet opened #15 "Set FTZ / DAZ flags."

[2017-12-12 05:33] mizuno-gsinet commented on #15
Note that threads spawned by OpenMP do not inherit the floating-point control modes.

[2017-12-29 10:53] mizuno-gsinet opened #21 "Unused include directories."
These include directories are no longer used.
https://github.com/polatory/polatory/blob/f6adb209e1f7aeabc5a33258680506c0e1205815/CMakeLists.txt#L70-L71

[2017-12-30 07:40] #21 closed

[2018-02-04 05:17] mizuno-gsinet opened #26 "Integrate polynomial specs into rbf::rbf."
Integrate `poly_dimension` and `poly_degree` parameters into `rbf::rbf` so that they can be validated on construction.

[2018-02-05 06:10] #26 closed

[2018-03-22 02:24] mizuno-gsinet opened #30 "Do not perform non-trivial computations in a constructor."
Heavy computation should be deferred until the first time they are needed, or we should make it a static method.

Following classes should be fixed:

- [ ] point_cloud::distance_filter
- [ ] point_cloud::kdtree::impl
- [ ] point_cloud::sdf_data_generator

[2018-10-01 13:45] mizuno-gsinet opened #38 "Make col_iterator truly model RandomAccessIterator by holding current ColXpr in it."
- Do we need a special type for col_end(), or update ColXpr only when operator*()/operator->() is called?
- Some of the [base member variables](https://github.com/eigenteam/eigen-git-mirror/blob/c399f06d3f3a77b5bd2a74c11e635e4952b72a4b/Eigen/src/Core/Block.h#L442-L445) of `Eigen::Block<...>` are const. So it is fundamentally impossible to implement re-assignment of `ColExpr<...>`. Stuck.

[2018-10-02 13:58] #38 closed

[2018-10-02 22:28] ruribev opened #39 "Problems with the compilation"
Hello,
I apologize if this is a simple question. I have tried to make the examples run all day without any luck.

I have done exactly

1. Installing vcpkg work without any problems:
[code]
2- Installing the Intel(R) MKL no problem
3- Build polatory get me this error all the time:
`cmake .. -GNinja -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake
CMake Error at C:/vcpkg/scripts/buil

[2018-10-03 02:00] mizuno-gsinet commented on #39
Thank you for trying out Polatory!

Recent versions of Visual Studio 2017 bundle the Ninja build system, but it seems that you don't have it. In that case, please try building with MSBuild. (You don't have to update your Visual Studio.)

1. Remove all contents of your `polatory\build` directory.

1. Open **x64 Native Tools Command Prompt for VS 2017** and run

[code]

1. Run unit tests.

[code]

P

[2018-10-03 04:03] ruribev commented on #39
Thank You! I really appreciate it! I think I am almost there. I got only 11 Errors from `msbuild polatory.sln /m:8 ` but the `ctest -C Release -VV` works just fine, take a look:

msbuild polatory.sln /m:8 last result:

`       C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\VC\VCTargets\Microsoft.CppCommon.targe
       ts(138,5): error MSB3073: if %errorlevel% neq 0 goto

[2018-10-03 13:46] ruribev commented on #39
@mizuno-gsinet I solved the LNK2005 and LNK1169 errors moving the project file to C;/polatory
Then I reinstall the IntelSWTools to C:/IntelSWTools just in case there was a problem with spaces or my Spanish windows (my "program files" are called "archivos de programa") and look like I got some progress and now I have this error:

[code]
And the ctest is not working anymore:

[code]
![image](https:/

[2018-10-03 14:34] ruribev commented on #39
@mizuno-gsinet  I reinstall the IntelSWTools in their normal directory and now everything seems to work!

Thank you, I will let you know if I get any other problem. Best!

[2018-10-03 14:34] #39 closed

[2018-12-05 06:13] CloudComputer commented on #5
The preconditioner and the formulas  is quite  difficult to understand for me. Is there some reference or documentation to make it easier to understand?

[2018-12-05 06:56] mizuno-gsinet commented on #5
@CloudComputer The details of the preconditioner is described in the paper: https://doi.org/10.1137/S1064827599361771

Names of vectors and matrices in `coarse_grid` and `fine_grid` are taken from the paper, so please take a look at it.

[2019-01-01 07:14] raypenper opened #41 "cmake error"
when I cmake the code:
cmake .. -GNinja -DCMAKE_TOOLCHAIN_FILE=G:/Envir/vcpkg/scripts/buildsystems/vcpkg.cmake

it comes to an error:
![image](https://user-images.githubusercontent.com/41855946/50570927-cb36b280-0dd7-11e9-92b6-ecec1093e97e.png)

please tell me how to solve that?

[2019-01-02 14:49] mizuno-gsinet commented on #41
@raypenper

1. What is the version of Visual Studio 2017 installed? The latest version at this moment is 15.9.4. If you have an older one, please consider updating it.

2. Please make sure you have installed dependent libraries through vcpkg with `--triplet x64-windows` option.

[2019-01-06 06:35] raypenper commented on #41
thank you but i have the latest version of VS2017 and i am sure that i have installed dependent libraries vcpkg.It still doesn't work.
![image](https://user-images.githubusercontent.com/41855946/50733020-49bc9700-11c0-11e9-873d-155dfa6e41e0.png)

[2019-01-09 00:15] mizuno-gsinet commented on #41
@raypenper Thank you for the confirmation. Could you check your VS installation by running the following commands?

[code]

This is the expected output:

![versions](https://user-images.githubusercontent.com/29035331/50866775-bcab5500-13ee-11e9-8681-20ca3d8caedc.png)

[2019-01-09 05:39] mizuno-gsinet commented on #41
@raypenper CMake and Ninja are bundled in "Desktop development with C++" workload of VS2017. Could you confirm that the workload is installed? (Launch Visual Studio Installer, click **Modify** button and see if **Desktop development with C++** is checked)

[2019-01-09 10:23] raypenper commented on #41
@mizuno-gsinet Thank you, but after i installed the nessesary items(Desktop development with C++ and Gits for Windows), the problem still remains.

![image](https://user-images.githubusercontent.com/41855946/50893371-9f50a800-143b-11e9-8582-441645830bb5.png)

[2019-01-10 04:54] raypenper commented on #41
@mizuno-gsinet Oh,it took a long time to reinstall all the libraries,but, disappointingly, it still went wrong.

![image](https://user-images.githubusercontent.com/41855946/50946936-d922bc80-14d6-11e9-8803-f0eb68e1e1cb.png)

[2019-01-10 06:07] raypenper commented on #41
@mizuno-gsinet yes,i delete all files in build dir and recmake command.the error now becomes "Not supported system"

![image](https://user-images.githubusercontent.com/41855946/50949383-ee044d80-14e0-11e9-800a-46d61e025635.png)

[2019-01-10 06:16] mizuno-gsinet commented on #41
@raypenper Oh, I'm sorry but only MSVC is supported on Windows.

[2019-01-10 06:30] raypenper commented on #41
@mizuno-gsinet Thank you, but is there any other way to solve the problem?how could the error be?

[2019-01-11 02:55] mizuno-gsinet commented on #41
@raypenper Can you remove CC and CXX environment variables if they are set?

[2019-01-11 06:58] raypenper commented on #41
@mizuno-gsinet Amazing. Thanks you. you are very helpful. i think we almost did it. Should i install mkl libraries into C:?
![image](https://user-images.githubusercontent.com/41855946/51018097-5a4e8200-15b1-11e9-8bf2-195faeae34a9.png)

[2019-01-11 07:08] mizuno-gsinet commented on #41
@raypenper No, you can specify the MKL installation directory as:

[code]

[2019-01-11 07:53] raypenper commented on #41
@mizuno-gsinet Thank you very much. i think the whole project have been build successfully. but i'm at a loss. How to run it? i did't find a way to debug(.sln). can i run it via VS2017?Sorry i am just too ignorant.

[2019-01-15 01:46] raypenper commented on #41
@mizuno-gsinet Thank you. When i try to run any of the example program. it produced the similar error.
![image](https://user-images.githubusercontent.com/41855946/51153230-5751db00-18aa-11e9-821e-f8c226fd0c7a.png)

[2019-01-15 02:59] mizuno-gsinet commented on #41
@raypenper Please add a breakpoint to the lines below to keep the console window open.

https://github.com/polatory/polatory/blob/370a2a4ac650b114169879d33aaf7d7044d16310/examples/kriging_cross_validation/main.cpp#L42

https://github.com/polatory/polatory/blob/370a2a4ac650b114169879d33aaf7d7044d16310/examples/kriging_cross_validation/main.cpp#L45

https://github.com/polatory/polatory/blob/370a2a4a

[2019-01-15 11:05] raypenper commented on #41
@mizuno-gsinet yes. the console window shows the same result.

![image](https://user-images.githubusercontent.com/41855946/51176646-71b2a580-18f8-11e9-9042-ed3ead4ba4df.png)

[2019-01-16 00:19] mizuno-gsinet commented on #41
@raypenper Good! Now if you add appropriate command line arguments, the program should run. Do you have any input data?

[2019-01-17 06:12] raypenper commented on #41
@mizuno-gsinet yes,i have some input data.the data format should be x,y,z and value(4D),right? but i don't know how to use the program to process my data. if only the project were visualized.

[2019-01-17 07:34] mizuno-gsinet commented on #41
@raypenper Ok, that is the typical kind of input data. Could you describe the problem you want to solve in detail?

[2019-01-18 08:44] raypenper commented on #41
@mizuno-gsinet Sorry, the main obstacle is that i do not know how to use kriging to interpolate my data. i
 think i should study through the code.

[2019-01-21 01:20] mizuno-gsinet commented on #41
@raypenper If you are looking for a general-purpose kriging/spatial interpolation library, I suggest you take a look at these ones:

- R packages for kriging: [geoR](https://cran.r-project.org/web/packages/geoR/index.html) or [gstat](https://cran.r-project.org/web/packages/gstat/)
- [scipy.interpolate](https://docs.scipy.org/doc/scipy/reference/interpolate.html)

[2019-01-28 14:34] unageek opened #42 "Adapt to Eigen 3.4."
## References

- [Release Eigen 3.4 (#814) · Issues · libeigen / eigen · GitLab](https://gitlab.com/libeigen/eigen/issues/814)
- [Eigen: Slicing and Indexing](https://eigen.tuxfamily.org/dox-devel/group__TutorialSlicingIndexing.html) - [Feature request: Ability to get a "view" into a sub-matrix by indexing it with a vector or matrix of indices (#329) · Issues · libeigen / eigen · GitLab](https://g

[2019-02-21 06:50] raypenper commented on #41
@mizuno-gsinet Thank you. but i don't understand R language. can you teach me how to use my 3-D data to perform Kriging interpolation in polatory?

[2019-02-22 01:00] mizuno-gsinet commented on #41
@raypenper OK, but first I need to know how much knowledge you have about kriging. Does the first paragraph of the [Wikipedia article](https://en.wikipedia.org/wiki/Kriging) make sense to you? If it doesn't, I strongly recommend reading a textbook about kriging. There are some tutorials for the geoR/gstat packages on the web.

[2019-02-23 01:52] raypenper commented on #41
@mizuno-gsinet Yes. I understand the principle of kriging and i deduced the formulas of it. but i don't know how to use the program to process the data.

[2019-02-25 06:52] mizuno-gsinet commented on #41
@raypenper I see. The basic usage is as follows:

1. Use [kriging_variogram](https://github.com/polatory/polatory/tree/master/examples/kriging_variogram) to create empirical variogram of your data.
2. Use [kriging_fit](https://github.com/polatory/polatory/tree/master/examples/kriging_fit) to estimate model variogram parameters from the empirical variogram.
3. Use [kriging_predict](https://github.c

[2019-02-25 07:03] mizuno-gsinet commented on #41
As the build error is resolved, this issue should be closed.

@raypenper Please open a new issue for further questions.

[2019-02-25 07:03] #41 closed

[2019-02-25 09:22] raypenper commented on #41
@mizuno-gsinet OK, i will try using these models. Thank you very much.

[2019-02-26 02:02] raypenper opened #43 "Kriging interpolation method"
@mizuno-gsinet Hi, i am here again. I took your advise and tried debugged the kriging_variogram model. the command window just flashed and closed. Can you tell me where should i put my source data? and in every model i need to add breakpoints before "return 0" and "return 1", right？

![image](https://user-images.githubusercontent.com/41855946/53381983-9dbc4e80-39ad-11e9-9cd6-32210ee89ea9.png)

[2019-02-26 02:39] mizuno-gsinet commented on #43
@raypenper Yes, Visual Studio does not keep the console window open for CMake projects.

[2019-02-26 02:57] raypenper commented on #43
@mizuno-gsinet yes, and what is the path of source data for interpolation?

[2019-02-26 06:34] mizuno-gsinet commented on #43
Please set command line arguments as explained in [this doc](https://docs.microsoft.com/en-us/cpp/ide/cmake-tools-for-visual-cpp?view=vs-2017#configure-cmake-debugging-sessions).

In this case, you should right-click `CMakeLists.txt` under the `examples/kriging_variogram` directory. Then, set arguments as:

[code]

Before debugging, please pull the [latest commit](https://github.com/polatory/polat

[2019-02-26 10:51] raypenper commented on #43
@mizuno-gsinet Thank you, but the console window still flashed and closed.

![image](https://user-images.githubusercontent.com/41855946/53407394-1693c880-39f7-11e9-99d3-f370f5b63b13.png)

![image](https://user-images.githubusercontent.com/41855946/53407509-522e9280-39f7-11e9-93e2-574a70dc1f8f.png)

![image](https://user-images.githubusercontent.com/41855946/53407548-65d9f900-39f7-11e9-8c32-425fcfe

[2019-02-27 00:09] mizuno-gsinet commented on #43
@raypenper Could you confirm that

1. You have pulled the latest `master` branch (not of your fork!)

1. The configuration is set to `x64-Debug`

1. You have rebuilt all projects

[2019-02-27 02:25] raypenper commented on #43
@mizuno-gsinet YES!YES! it hits the breakpoint. Have it caculated the empirical variogram from the testing data? What should i do next?

![image](https://user-images.githubusercontent.com/41855946/53460980-fc4efe80-3a79-11e9-89e0-ff5b2b2b37db.png)

[2019-02-27 05:24] mizuno-gsinet commented on #43
@raypenper

No. Why don't you read the message?

[2019-02-27 06:42] raypenper commented on #43
@mizuno-gsinet Sorry. but i don't know how to set bin width.-_-

[2019-02-27 06:46] mizuno-gsinet commented on #43
@raypenper Just append it to command-line arguments:

[code]

[2019-02-27 06:51] raypenper commented on #43
@mizuno-gsinet Oh. i see, i need to set parameter in command-line. Thanks again.

[2019-02-27 07:24] raypenper commented on #43
@mizuno-gsinet i have to ask for your help again. Is there something wrong with my data? The value type is double, it seems well.

![image](https://user-images.githubusercontent.com/41855946/53472650-2f59b800-3aa3-11e9-86cb-e18a60e986ac.png)

[2019-02-27 07:34] mizuno-gsinet commented on #43
@raypenper I'm not sure. Could you send me <mizuno(at)gsinet.co.jp> the original data if you don't mind sharing it?

[2019-02-27 07:54] raypenper commented on #43
@mizuno-gsinet Sure, it would be so nice for you to help me checking the data, but do you have an e-mail ? i can't find a way to send my data to you via <mizuno(at)gsinet.co.jp>

[2019-02-27 08:00] mizuno-gsinet commented on #43
@raypenper That is my e-mail address, modified a little to protect it from spam.

[2019-02-27 08:12] raypenper commented on #43
@mizuno-gsinet OK, copy that.

[2019-02-27 08:14] mizuno-gsinet commented on #43
@raypenper Thank you, I've just received your data. Could you try removing trailing spaces on each line?

[2019-02-27 08:49] raypenper commented on #43
@mizuno-gsinet thanks for your advice. It really took a long time to caculate the empirical variogram. i believe the next step is to fit the variogram curves. Should i use variogram fit model directly?
![image](https://user-images.githubusercontent.com/41855946/53477194-24a52000-3aaf-11e9-93ec-2ccca9c7a5f6.png)

[2019-02-27 08:59] mizuno-gsinet commented on #43
You should try the Release build.

What do you mean by that? BTW, I think you should pass a larger value to `--n-bins`.

[2019-02-27 09:15] raypenper commented on #43
Yes. i think i render the value of bins too small, but a small bin size will get a better performace than a large one, right?

It means that i don't know clearly what to do next after we got the empirical variogram.

[2019-02-27 09:20] raypenper commented on #43
Yes. i think i rendered the value of bins too small, but a small bin size will get a better performace than a larger one, right?

It means that i don't know clearly what to do next after we got the empirical variogram.

[2019-02-28 00:29] mizuno-gsinet commented on #43
Not really. Neither `--bin-width` nor `n-bins` affects performance. Empirical variogram computation [requires O(Npoints^2) iterations](https://github.com/polatory/polatory/blob/cca97e85afaabf19fc01ac6d470dc3137b3710d6/src/kriging/empirical_variogram.cpp#L30-L45).

[2019-02-28 01:50] raypenper commented on #43
@mizuno-gsinet Yes, i agree with you, computing emprical variogram requires every two other porints.

Can you please tell me how to use the other two models(kriging-fit and kriging predict)?

[2019-02-28 01:52] mizuno-gsinet commented on #43
@raypenper What have you tried so far? Have you read the usage message?

[2019-02-28 02:03] raypenper commented on #43
@mizuno-gsinet Sorry, i should'n have asked in that way, i need to find the emprical variogram file and render it to the fitting model.

[2019-02-28 02:09] mizuno-gsinet opened #44 "Add an command-line option to select rbf."

[2019-02-28 02:43] mizuno-gsinet commented on #43
@raypenper You can copy the console output.

[2019-02-28 04:53] raypenper commented on #43
@mizuno-gsinet Thanks, i will, but now i can't find where the output file of emprical variogram is.
should i copy the output in the console window and creat a new file for fitting model?
![image](https://user-images.githubusercontent.com/41855946/53541042-f9740c80-3b52-11e9-9dcb-4604b8fb6c46.png)

![image](https://user-images.githubusercontent.com/41855946/53542049-a05aa780-3b57-11e9-9914-3c858100

[2019-02-28 04:58] mizuno-gsinet commented on #43
@raypenper I think `variogram.txt...` is not a valid filename on Windows.

[2019-02-28 08:34] raypenper commented on #43
@mizuno-gsinet Oh God, how careless i am. but after i revised the output path. it still got nothing.
and i send you another geological data. Please help me checking it.

![image](https://user-images.githubusercontent.com/41855946/53552503-66e56480-3b76-11e9-8c08-46306af9a2f8.png)

[2019-02-28 08:49] mizuno-gsinet commented on #43
@raypenper Please replace multiple spaces with a single space or comma. The parser is not flexible.

[2019-02-28 10:49] raypenper commented on #43
@mizuno-gsinet Yes, the problem has fixed, but the predict model requires mesh-bbox. What is the format of its property(xmin ymin zmin xmax ymax zmax)?

![image](https://user-images.githubusercontent.com/41855946/53561302-702bfc80-3b89-11e9-8723-1aece98f7efd.png)

[2019-03-01 04:20] mizuno-gsinet commented on #43
@raypenper Wait... aren’t the psill and range too large?

[2019-03-01 04:35] raypenper commented on #43
@mizuno-gsinet yes. i think so, but it reads CONVERGENCE. i don't know why.
i sent you another data yesterday. Can you help me checking the data?

[2019-03-01 05:29] mizuno-gsinet commented on #43
@raypenper I'm sorry but I don't have much time. Try several different initial parameters and always plot the empirical and model variograms together. You can see the definition of covariance function `cov_quasi_spherical9` [here](https://github.com/polatory/polatory/blob/cca97e85afaabf19fc01ac6d470dc3137b3710d6/include/polatory/rbf/cov_quasi_spherical9.hpp#L21-L28).

And please learn how to run c

[2019-03-01 06:30] raypenper commented on #43
@mizuno-gsinet Thank you, i am using cmd.exe to run the program, it's really faster now.

[2019-03-01 07:53] mizuno-gsinet commented on #43
@raypenper Apparently, the initial values are not appropriate. Have you plotted the empirical variogram? The sill should be set to the variance of your data.

[2019-03-01 08:19] raypenper commented on #43
@mizuno-gsinet wait, need i plot the empirical variogram to get the sill?i thought the kriging_fit model can do this.

This is the outcome of empirical variogram:
![image](https://user-images.githubusercontent.com/41855946/53625001-ea698900-3c3c-11e9-9532-162f21ebd400.png)

and this is the file created from kriging_variogram model:
![image](https://user-images.githubusercontent.com/41855946/536252

[2019-03-01 10:55] mizuno-gsinet commented on #43
Sorry, but I’m not going to give you a lecture on kriging.

[2019-03-02 09:25] raypenper commented on #43
@mizuno-gsinet I am sorry to have so many questions, but you honestly don't need to talk about theory of kriging. I reviewed it again, studied through the code and i almost got the output but here is one last question. how to set mesh-bbox size?

![image](https://user-images.githubusercontent.com/41855946/53679977-66340600-3d0f-11e9-9ceb-7bc1186e0b1f.png)

[2019-03-03 05:11] mizuno-gsinet commented on #43
@raypenper The format of the command line is ok. However,

1. If you're doing ordinary kriging, you don't need to specify the `--dim` option. Additionary, 4 is not a valid value for that option.

2. A reasonable value of `--bbox` is (a subset of) the bounding box of the data points as you normally don't want extrapolation.

[2019-03-04 02:45] raypenper commented on #43
@mizuno-gsinet Sorry. i tried so many values(both the bounding box and a subset) of --bbox. but it still reads "rank cannot be larger than size".

![image](https://user-images.githubusercontent.com/41855946/53707245-25500480-3e69-11e9-9ca4-d5f16b3e6d7a.png)

the bounding box of data is (621553.67 5748274.15 -5285.68 631914.09 5751454.27 -3088.28)
![image](https://user-images.githubusercontent.com/

[2019-03-04 04:51] mizuno-gsinet commented on #43
@raypenper I found a memory-management bug in `polatory::interpolant::fit()`. Let me fix it and inform you when it is done.

[2019-03-04 05:41] mizuno-gsinet commented on #43
@raypenper I fixed the bug in `master` branch and tested kriging_prediction program with your data. I recommend you start with `--tol 0.1` and `--mesh-res 20` which still give a pretty fine interpolation.

[2019-03-04 09:00] raypenper commented on #43
@mizuno-gsinet Gratefully thank you, i pulled the latest master branch and rebuilded the project, the value of psill and range get by kriging_fit have changed. But when i use kriging_prediction, it still got the same error.

![image](https://user-images.githubusercontent.com/41855946/53721557-762e2000-3e9e-11e9-9b97-2b62e4711ea8.png)

BTW, what's the format of mesh-bbox in launch.vs.json?
![image]

[2019-03-05 00:40] mizuno-gsinet commented on #43
I've done nothing to kriging_fit. If that's the case, maybe the solver is not deterministic.

That's strange. Here are the command-line and output in my environment.

[code]

![image](https://user-images.githubusercontent.com/29035331/53772488-dddd7d00-3f29-11e9-8e82-8cf309bc72b4.png)

Could you try cloning and building the project again?

[2019-03-05 00:51] mizuno-gsinet commented on #43
@raypenper Beware that the build directory is not `build` but `build\x64-Debug` or `build\x64-Release` if you are building with Visual Studio.

[2019-03-05 01:14] unageek opened #45 "Keep the separation distance as large as possible in rbf_incremental_fitter."
1. Set the initial separation distance to some value and apply distance_filter to obtain the initial point set
2. Half the separation distance and add a new set of points filtered after each iteration

[2019-03-05 04:52] raypenper commented on #43
@mizuno-gsinet なるほど! Finally! it worked. i am so grateful for your help. Thanks again.

[2019-03-06 08:43] #43 closed

[2019-03-14 08:56] raypenper opened #46 "Can I get the original interpolated data but not Isosurface？"
@mizuno-gsinet I am sorry to borther you with another issue. but i extremely eager to get the whole data after interpolation. I believe the function `resolution` is what i want. when i debugged it. i got only a vector which has the same size as original data.

![image](https://user-images.githubusercontent.com/41855946/54484553-ec218680-48a3-11e9-93c4-acd5419cbffa.png)

[2019-03-19 04:55] mizuno-gsinet commented on #46
@raypenper There are two stages in RBF interpolation:

1. Fitting: to solve a system of linear equations to obtain the weights of basis functions
2. Evaluation: to evaluate the weighted sum of basis functions (=interpolant) on a set of points

Once the fitting is done, you can evaluate the interpolant on as many points as you want.

According to your previous edits, I believe you are trying to eva

[2019-03-19 08:12] raypenper commented on #46
@mizuno-gsinet Thanks a lot, that's exactly what i want. i will give it a try.

[2019-04-19 07:44] mizuno-gsinet opened #49 "Use double-conversion in roundtrip_string."

[2019-05-30 14:42] #46 closed

[2019-06-17 09:17] mizuno-gsinet opened #50 "Define the nugget parameter in `model` instead of RBF."
Otherwise, nested variogram model will have multiple nugget parameters.

[2019-06-17 09:19] unageek opened #51 "Add support for nested variogram models."
## Phase 1

Integrate anisotropy into RBF definition.

- [x] Add an affine transformation which transforms the RBF to `rbf_base`
- [x] Change the parameter type of `rbf_base::evaluate` from `double` to `const geometry::vectors3d&` (still translation invariant)
- [x] Do affine transformation of points in the following classes
    - `fmm_evaluator`
    - `fmm_operator`
- [x] Remove transformation fr

[2019-06-19 01:07] CloudComputer commented on #5
@mizuno-gsinet Is your implementation an extension of the two-level method? Is there a paper about the extension?

[2019-06-19 02:35] mizuno-gsinet commented on #5
@CloudComputer

Basically, yes. However, its configuration is based on trial-and-error. So there is no theoretical basis behind it.

[2019-06-19 08:26] CloudComputer commented on #5
@mizuno-gsinet Many thanks for the prompt reply.

[2019-06-25 06:27] unageek opened #53 "Fully adopt Google C++ Style Guide."
- [ ] Add .clang-format such as:

[code]

    or to preserve the current style as much as possible:

[code]

[2019-07-02 02:52] mizuno-gsinet opened #57 "Integrate clang-tidy."

[2019-07-30 09:37] mizuno-gsinet opened #60 "rbf_base::clone() does not copy t_ and ti_."

[2019-07-31 05:35] #60 closed

[2019-08-02 07:53] unageek opened #64 "Evaluate if Matérn functions are viable with ScalFMM."

[2019-08-07 00:08] #57 closed

[2019-08-16 16:20] unageek opened #68 "Rename index_t to index."

[2019-08-19 00:52] unageek opened #71 "Move all find_package commands to the root CMakeLists.txt."

[2019-08-23 02:38] mizuno-gsinet commented on #30
This isn't always optimal. See [NR.5: Don’t: Don’t do substantive work in a constructor; instead use two-phase initialization](http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rnr-two-phase-init) of the C++ Core Guidelines.

[2019-08-23 02:38] #30 closed

[2019-08-23 03:00] unageek opened #75 "Add missing tests."
- [ ] `interpolant`
- [ ] `read_table` / `write_table`
    The interface should be modified to mimic `np.loadtxt` / `np.savetxt`.
- [ ] `isosurface::*`
- [ ] `polynomial::unisolvent_point_set`

[2019-09-03 09:57] surebrec opened #76 "build error"
[code]

[2019-09-04 06:08] mizuno-gsinet commented on #76
@surebrec Have you encountered this error while running `vcpkg install ...`? If so, please report the details to the vcpkg issue tracker: https://github.com/microsoft/vcpkg/issues.

[2019-09-04 06:57] surebrec commented on #76
yes, it's on `vcpkg install` step, ok, i will report

[2019-09-05 00:07] #76 closed

[2019-09-17 01:58] #49 closed

[2019-09-17 14:30] mbahri opened #81 "Missing dependency"
Hi

This is just to let you know that on Ubuntu 19.04 (in a docker container) I had to add the package `double-conversion` to the list of dependencies installed with vcpkg:
[code]

Best

[2019-09-18 00:42] mizuno-gsinet commented on #81
Hello, I've just added dependency on double-conversion in 25370138931424ddff722bbc53fb15924be35b85. I'm sorry there is no announcement about that.

[2019-09-18 14:30] #81 closed

[2020-01-08 07:38] unageek opened #91 "Add dual contouring."

[2020-01-20 09:38] mizuno-gsinet opened #93 "Throw exception if interpolant::evaluate is called before fitting."

[2020-01-22 02:46] #93 closed

[2020-01-29 10:40] #44 closed

[2020-01-30 05:19] unageek opened #100 "Add support for zonal anisotropy (projection)."

[2020-02-02 03:06] mizuno-gsinet opened #102 "Verify that all frequency ranges are covered by the multi-level DDM."

[2020-02-10 01:15] unageek opened #103 "Save/load interpolants."

[2020-02-10 01:15] unageek opened #104 "Generate isosurfaces for multiple levels simultaneously."

[2020-07-31 13:14] zpp1996 opened #106 "Dataset"
Do you have a data set?What are the format requirements for the data set?

[2020-08-01 09:34] mizuno-gsinet commented on #106
@namihisa-gsinet Could you elaborate on this?

[2020-08-03 05:59] namihisa-gsinet commented on #106
A comma separated CSV format dataset is required to make kriging predictions using Polatory.
The CSV file consists of 4 columns: X coordinate, Y coordinate, Z coordinate, and physical quantity.

Example
[code]

[2020-08-21 12:08] iuming opened #107 "CMake build error"
Hello, I installed polatory on a Windows system. After completing `.\run init-vcpkg`, when running cmake, the following error occurred. What should I do to solve this error?
[code]

[2020-08-24 08:27] namihisa-gsinet commented on #107
GNU is not a supported compiler at Polatory.

Could you try again in an environment without MinGW?

[2020-08-26 03:05] iuming commented on #107
Thank you very much, I used the linux system to reinstall, it has been successfully installed.

[2020-08-29 15:00] #106 closed

[2020-08-29 15:01] #107 closed

[2020-09-01 06:47] #102 closed

[2020-09-11 10:55] iuming opened #108 "Documentation"
Is there any documentation for this open source code? Or can you write simple usage into the readme (a small suggestion)?

[2020-09-14 08:40] namihisa-gsinet commented on #108
The documentation of Polatory is at the URL below.

https://polatory.readthedocs.io/en/latest/index.html

I'm sorry, but at present, only the explanation of RBF is described.

[2020-09-15 00:55] iuming commented on #108
I saw this message in the replies to other Issuss:
[code]
Can you introduce more simple uses like this?

[2020-09-16 04:36] namihisa-gsinet commented on #108
You can show help of the application by executing the application with no arguments.

For example, to show the help of `kriging_variogram`, execute the following command.
The options and the descriptions are shown.

[code]

[2020-09-28 14:33] iuming commented on #108
I'm sorry, please forgive my C++ is not very good.
If I measure these scattered points(3D), how do I perform kriging interpolation?
[code]
If you interpolate through this program, can you get the value of point A(1.5 2.2 2.7)? Which commands should be executed?

[2020-09-30 04:32] namihisa-gsinet commented on #108
In Polatory, the results of kriging interpolation are OBJ format mesh files that express each isosurface.
So you can not get the value of a specific point itself.

[2020-09-30 04:48] mizuno-gsinet commented on #108
@namihisa-gsinet

If that were the case, it would not be possible to generate isosurfaces.

[2020-09-30 05:32] namihisa-gsinet commented on #108
I want  to say the following.

Command execution results of `kriging_predict` are OBJ format mesh files.
Prediction value of a specific point is not returned, by executing `kriging_predict` command.

[2020-10-19 00:48] mizuno-gsinet commented on #108
@iuming Did that answer your question?

[2020-10-19 01:06] iuming commented on #108
Thank you very much, if possible, can you add a function to express the special points?  If the calculation of special points is before the step of generating isosurfaces.

[2020-10-19 01:09] mizuno-gsinet commented on #108
@namihisa-gsinet Can you prepare an example program for that?

[2020-10-19 01:14] iuming commented on #108
For example, can some simple data like this?

[2020-10-22 00:36] namihisa-gsinet commented on #108
I added an example program  to the branch `issue-108`  that outputs the prediction values of the specified points.

https://github.com/polatory/polatory/pull/110

This program, `kriging_predict_special_points`, outputs the prediction values as a text file.

Usage,
[code]

[2020-10-23 15:07] iuming commented on #108
Thank you very much, I think I will probably use it easily.

[2020-10-24 11:23] #108 closed

[2020-10-29 17:41] nakedtiger666 opened #111 "Unity Compatibility"
I am wondering if it is possible to add a C interface for the methods and build it as a .dll that I can use as a native plug-in from Unity, like it says here:
https://docs.unity3d.com/Manual/NativePlugins.html
https://www.mono-project.com/docs/advanced/pinvoke/

I have done it in the past already with [this great C++ voronoi library](https://github.com/fabanc/SharpBoostVoronoi) like this:
[code]

[2020-11-02 03:15] namihisa-gsinet commented on #111
It is possible to add methods to Polatory and build it as a .dll.

An example program that creates the isosurfaces of the predict results is following link.
You can use it as a reference when implementing the methods.

https://github.com/polatory/polatory/tree/master/examples/kriging_predict

The usage is following.

[code]

[2020-11-02 19:02] nakedtiger666 commented on #111
How to actually build a .dll out of kriging_predict instead of the default .exe?

[2020-11-02 22:19] nakedtiger666 commented on #111
It is not clear what is the acceptable range of the input values... Could you please link an example of calling the .exe or point a place where these values are being checked after the parsing?

I am trying these args and the error code is 'bad lexical cast: source type value could not be interpreted as target"

`"--in C:\\Users\\ADMINI~1\\AppData\\Local\\Temp\\tmp409666f6.tmp --rbf exp 1. 1. --to

[2020-11-04 06:34] mizuno-gsinet commented on #111
@nakedtiger666 Could you describe the task you are trying to do? Is it surface modeling, surface reconstruction, interpolation, or something else?

[2020-11-04 08:22] namihisa-gsinet commented on #111
There is no place to check input values ​​in kriging_predict.exe.
So execute kriging_predict.exe after checking that all the input values ​​are not the same.

[code]

[2020-11-04 08:36] mizuno-gsinet commented on #111
@namihisa-gsinet I think the OP is not trying to do kriging.

[2020-11-04 17:00] nakedtiger666 commented on #111
I want to build 3d terrain (low poly mountains) out of the 3d interactive tree graph. Lets say it will look very similar to [this](https://uploads-ssl.webflow.com/5d64ad209093d7b315c3591a/5e969612878648b8c23a88a7_unity-game-asset-low-poly-modular-terrain-pack-demo_1.jpg)

Each node of the graph can be moved around in 3d space (ofc I will make sure the nodes of the graph are not too close and the e

[2020-11-05 06:27] namihisa-gsinet commented on #111
Is it OK that what you want to achieve with Polatory is to build a 3D surface from points that align with the edges of voronoi blended cells and points that align with actual graph?

Since `kriging_predict` is a program that builds isosurfaces, it cannot build a 3D terrain consisting of points of different elevations.
Polatory also has a example program called `terrain_surface` to build a 3D surfa

[2020-11-11 18:52] nakedtiger666 commented on #111
terrain_surface is exactly what I was looking for, but calling the .exe in runtime and waiting until it writes down the .obj to the disk and then reimporting it back into the Unity takes some time. Is it possible to return a simple heightmap after the isosurface generation instead of the .obj, so I can recreate my own mesh in Unity based on it? I want the whole process to take no more than 20ms on

[2020-11-12 04:27] namihisa-gsinet commented on #111
Polatory has a method that returns the results of interpolation for specific points.
So it is possible by modifying the `terrain_surface` to return the interpolated values for the grid points (X, Y).
After that, I think that it can be realized by outputting the heightmap from the grid-like return values.

[2020-11-12 15:41] nakedtiger666 commented on #111
That is a good way to go.

You have mentioned this, but could you also explain how it can be done? I want to have a .dll that my Unity project could use on both win and mac. If I understand everything correctly - I need to build it as a .dll in order to be able to run on mac and in order to have more faster calculations without a need to write down input csv file and start the .exe process. Right

[2020-11-13 00:12] namihisa-gsinet commented on #111
The following method.
https://github.com/polatory/polatory/blob/master/include/polatory/interpolant.hpp#L39

[2020-11-18 20:11] nakedtiger666 commented on #111
Beg your pardon, but it seems to me there is no way of building the whole Polatory code into a single .dll, is it? I want this to access terrain_surface functionality not only on Win, but on WebGL and Mac.

[2020-11-23 06:39] namihisa-gsinet commented on #111
Instead of building the whole Polatory into a single dll, you can build `terrain_surface.dll` by modifying `add_executable` in `CMakeLists.txt` to `add_library`.
It is possible to access the function of  `terrain_surface` from outside the `terrain_surface.dll` by using a method with `extern "C" __declspec (dllexport) `instead of the main function.

[2020-12-08 04:47] #111 closed

[2021-01-07 11:30] iuming opened #112 "Build Error"
Hello, when I run such a command, there is such an error. Where is the problem and how can I correct it? thank you very much!
[code]

[2021-01-13 00:41] namihisa-gsinet commented on #112
Please tell me the OS and version of your environment.

[2021-01-15 02:32] iuming commented on #112
@namihisa-gsinet My system version information is as follows:
[code]

[2021-01-19 08:26] namihisa-gsinet commented on #112
I had downloaded `Ubuntu 20.04.1 LTS` from the following site and created a new Ubuntu virtual environment in the Hyper-V.
Set up and built according to the [Ubuntu Building](https://github.com/polatory/polatory#on-ubuntu) procedure, and the build was completed.

https://ubuntu.com/download/desktop

Is it possible to rebuild using the same version of Ubuntu?

[2021-01-19 11:11] iuming commented on #112
@namihisa-gsinet Thank you very much! I will try.

[2021-01-30 09:35] iuming commented on #112
@namihisa-gsinet I used VMware to install the Ubuntu20.04 operating system and installed it according to the Readme, but when I executed the `./run cmake` command, the following error occurred:
[code]
May I ask what went wrong, can you help?

[2021-01-30 09:37] iuming commented on #112
This is the error log:
[CMakeError.log](https://github.com/polatory/polatory/files/5897683/CMakeError.log)
[CMakeOutput.log](https://github.com/polatory/polatory/files/5897684/CMakeOutput.log)

[2021-02-04 02:59] namihisa-gsinet commented on #112
Checking your log, there are permission errors when writing the configuration file.

Could you check the permissions of the folders below?

[code]

[2021-02-04 05:02] iuming commented on #112
@namihisa-gsinet  Sorry,I tried to install it again, but it gave the same error as centOS. My system is Ubuntu20.04, a virtual machine installed on VMware!
[code]

[2021-02-04 11:33] iuming commented on #112
I seem to have found the reason for this error. I installed the latest version of MKL. When I uninstalled the latest version of MKL and installed MKL in ReadMe, the error disappeared.Thank you very much for your answers, thank you!

[2021-02-04 11:33] #112 closed

[2021-02-09 02:27] iuming opened #113 "Questions about operating parameter errors"
Hello, I'm very sorry, I have some doubts when I run polatory. In the previously mentioned Kriging discrete point prediction, when I used this program, when I input `./kriging_predict_special_points --in inputdata.csv --out output.csv --point pointsdata.csv --rbf exp --tol 0.1 --dim 2`, an error message `params.size() must be 2.` appeared. Could you tell me where I entered incorrectly?
The data in

[2021-02-09 02:29] iuming commented on #113
#110

[2021-02-15 07:03] namihisa-gsinet commented on #113
The option `--rbf` in `kriging_predict_special_points` must specify the partial sill and the scale after the function abbreviation.

To specify 1.0 for both, write as follows.

[code]

Change the option to specify the file name of the predeiction points to `--points`.

[2021-02-20 23:17] ghost opened #114 "Build Error"
Hi. I am trying to build Polatory on win64 and I get this error after I'm trying to .\run init-vcpkg
[code]

I can't manage to download the old version of intel mkl. Do I really need 2019.5 one or the latest is OK it's just something else is going wrong on my machine? thank you.

[2021-02-21 01:10] nakedtiger666 commented on #114
Okay. so I've managed to investigate the issue and turned out the path of the mkl is changed in the 2021 version of the oneAPI. I did the following changes in the polatory\vcpkg\ports\intel-mkl\portfile.cmake of the vcpkg and it worked. I updated the path and disabled the version match check (for some reason it didn't compare correctly even though the version is higher).

[code]

[2021-02-21 01:42] nakedtiger666 commented on #114
Also in order to run build I also updated root CMakeLists.txt. Updated the dlls paths and actually I just copied the mkl from the new location to the manually created old required location, because looks like some code still require it. Obviously it is a very rough hack to make it work. Looking forward for the proper resolution of the issue!

[code]

[2021-02-26 08:49] namihisa-gsinet commented on #114
I consider modifying CMakeLists.txt or README to enable the build of a new version of intel mkl.

[2021-02-28 19:24] nakedtiger666 commented on #114
thanks!

[2021-03-26 00:19] nakedtiger666 opened #115 "Kriging of a Spherical Surface"
Hi. Is it possible to krige the surface of a sphere? Imagine we input a spherical height map, and then we want to test the sphere grid points to recreate an interpolated topology. Can an enclosed surface be kriged at all?

[2021-03-26 10:40] nakedtiger666 opened #116 "Performance Optimization"
I am looking to discover what exactly is the biggest bottleneck for the kriging calculation. I input about 1-3k (could be 5-10k in very rare cases) input points and then interpolate with 10-50k points (100k rarely) and I have it going in about 1000-2000ms which is already very impressive. Is it possible to drop this number to 10-20ms with this amount of input data? I noticed that the solution util

[2021-03-29 05:52] namihisa-gsinet commented on #115
If you have point data with normals, executing the example program `normals_sdf` will generate point data with SDFs (Signed Distance Function).

https://github.com/polatory/polatory/tree/master/examples/normals_sdf

The usage is following.

[code]

Then you can create a closed surface by creating an isosurface of 0.0 executing `kriging_predict`.

[2021-03-29 21:30] nakedtiger666 commented on #115
is that really so straightforward? looks amazing, you guys have a powerful solution one might say.

[2021-03-29 21:32] nakedtiger666 commented on #115
0.0 is one of the parameters of the isosurface constructor?

[2021-03-30 04:25] namihisa-gsinet commented on #115
Set `kriging_predict` parameter `--mesh-isoval`  to 0.0 to generate a 0.0 valued isosurface.
This isosurface is the closed surface you want.

[2021-04-10 11:54] #116 closed

[2021-04-21 16:44] #115 closed

[2021-04-21 17:05] ghost opened #117 "Mac support"
Hi, I am trying to figure out if it is possible to build terrain_surface example for Mac OS. Is it possible to compile Polatory and its dependencies into a .so file?

[2021-04-21 19:26] ghost opened #118 "Polygon Boundaries"
Is it possible to add a polygon boundaries for the kriging area? So the outline of the boundaries would ground the interpolated surface to zero. I am using 10k points to 'imitate' the boundaries by placing them along the boundaries outline very closely to each other, I am wondering if there is more convenient and faster way to outline. Thanks.

[2021-04-23 07:13] namihisa-gsinet commented on #117
The build of Polatory on Mac environment has not been verified.
Sorry, it takes time to verify because it is necessary to build a Mac environment.

[2021-04-27 08:52] namihisa-gsinet commented on #118
The predicted area by `terrain_surface` is only a cuboid box.

[2021-04-27 09:07] nakedtiger666 commented on #118
It looks to me that only deep modification of the interpolation algo itself for this specific case could speed up the calculations or make fast dynamic area constrain work. Correct me if I am missing something. Thank you for the reply :)

[2021-04-30 07:06] iuming opened #119 "[RUN ERROR]Rank cannot be larger than size"
Hello, when I am running Kriging special point interpolation, when I input the following command, the terminal reports this error. What is the cause? What action do I need to change to solve this problem? Hope to get help, thank you very much!
[code]

[2021-05-07 05:23] namihisa-gsinet commented on #119
Could you tell me `data.csv` executed the above command?

[2021-05-08 09:08] iuming commented on #119
@namihisa-gsinet this is `data.csv` as follow:
[code]

[2021-06-25 02:48] namihisa-gsinet commented on #119
This error is caused by a third party library used by Polatory.
How about use another model?

[2022-07-03 11:11] kxdniu opened #120 "Info about the ISO surface algorithm used"
Can you please tell me what the iso surface algorithm is based on? Any relevant information is appreciated.

[2022-07-13 01:59] namihisa-gsinet commented on #120
Divide the entire model into lattices and generate a surface for each lattice.
See below for the algorithm to generate surfaces.

https://github.com/polatory/polatory/blob/master/include/polatory/isosurface/rmt_surface.hpp#L251